{%load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vistors|List</title>
    <link rel="stylesheet" href="{%static 'visitor_list.css' %}">
</head>

<body>
    <div class="navbar">
        <div class="image-div">
            <img src="{%static 'images/h_logo.png' %}">
        </div>
        <div class="innerdiv-one">
            <h2>RAG </h2>
            <p>Multispeciality Hospital</p>
        </div>
        <div class="innerdiv-two">
            <div class="links">


            </div>
        </div>
    </div>



    <div class="visitor-list-container">

        <h2>Visitor List</h2>

        <div class="search-box">

            <form method="GET">

                <input type="text" name="search" placeholder="Search Visitor..." value="{{ search }}">

                <select name="status">
                    <option value="">All Status</option>

                    <option value="Inside">
                        Inside
                    </option>

                    <option value="Left">
                        Left
                    </option>

                </select>

                <button type="submit">Search</button>

            </form>

        </div>

        <table>

            <thead>

                <tr>

                    <th>ID</th>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Type</th>
                    <th>Purpose</th>
                    <th>Patient</th>
                    <th>Doctor</th>
                    <th>Department</th>
                    <th>Visitors</th>
                    <th>Check In</th>
                    <th>Status</th>
                    <th>Action</th>

                </tr>

            </thead>

            <tbody>

                {% for visitor in visitors %}

                <tr>

                    <td>{{ visitor.visitor_id }}</td>

                    <td>{{ visitor.visitor_name }}</td>

                    <td>{{ visitor.mobile }}</td>

                    <td>{{ visitor.visitor_type }}</td>

                    <td>{{ visitor.purpose }}</td>

                    <td>{{ visitor.patient_name }}</td>

                    <td>{{ visitor.doctor_name }}</td>

                    <td>{{ visitor.department }}</td>

                    <td>{{ visitor.number_of_visitors }}</td>

                    <td>{{ visitor.check_in }}</td>

                    <td>{{ visitor.status }}</td>

                    <td>




                        <a href="{% url 'delete_visitor' visitor.visitor_id %}"
                            onclick="return confirm('Delete this visitor?')">
                            Delete
                        </a>|
                        
                
                           <a href="{%url 'edit_visitor' visitor.visitor_id %}">Update Visitor</a> 
                        



                    </td>

                </tr>

                {% empty %}

                <tr>

                    <td colspan="12" style="text-align:center;">
                        No Visitor Found
                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>


</body>

</html>