{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>room_list</title>
    <link rel="stylesheet" href="{%static 'gen_ipd/room_list.css' %}">

</head>

<body>
    <div class="navbar">
        <div class="image-div">
            <img src="{%static 'images/h_logo.png' %}">
        </div>
        <div class="innerdiv-one">
            <h2>RAG </h2>
            <p>Multispeciality Hospital</p>
        </div>
        <div class="innerdiv-two">
            <div class="links">
                <a href="{%url 'general_ipd_list' %}"> IPD List</a>
            </div>
        </div>
    </div><br>

    <div class="room-page">

        <!-- Header -->
        <div class="page-header">

            <div>
                <h2>Room & Bed Management</h2>
                <p>Manage rooms, beds and patient allocation.</p>
            </div>

            <a href="{% url 'add_rooms' %}" class="add-room-btn">
                + Add Room & Bed
            </a>

        </div>


        <!-- Room Table -->

        <div class="table-container">

            <table>

                <thead>
                    <tr>
                        <th>#</th>
                        <th>Room Number</th>
                        <th>Bed Number</th>
                        <th>Patient</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>

                    {% for room in rooms %}

                    <tr>

                        <td>{{ forloop.counter }}</td>

                        <td>
                            <strong>Room {{ room.room_number }}</strong>
                        </td>

                        <td>
                            {{ room.bed_number }}
                        </td>

                        <td>


                            {{ room.patient.patient_name }}



                        </td>

                        <td>

                            {{ room.status }}




                        </td>

                        <td class="actions">

                            

                            <a href="{% url 'edit_room' room.id %}" class="edit-btn">
                                Edit
                            </a>|
                            <a href="{%url 'delete_room' room.id%}"  class="delete-btn">Delete</a>
                        </td>

                    </tr>

                    {% empty %}

                    <tr>

                        <td colspan="6" class="empty-message">
                            No rooms or beds have been added yet.
                        </td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>


</body>

</html>